<section id="pricing" class="overflow-hidden">
  <div class="col-12">
    <section class="title-text-wrapper">
      <div class="content text-center" data-aos="slide-down">
        <h2>{{"HEADER.NAVBAR.PRICING"|translate}}</h2>
        <h2>{{"HEADER.NAVBAR.PRICING"|translate}}</h2>
      </div>
    </section>
  </div>
<div class="container-fluid">
  <div class="row p-5">
    <div class="col-12 text-center mt-4" data-aos="fade-left">
      <h6>{{"PRICING.DESC"|translate}}</h6>
    </div>
  </div>
</div>
</section>
