<section id="about" class="overflow-hidden">
  <div class="col-12">
    <section class="title-text-wrapper">
      <div class="content text-center" data-aos="slide-down">
        <h2>{{"HEADER.NAVBAR.ABOUT"|translate}}</h2>
        <h2>{{"HEADER.NAVBAR.ABOUT"|translate}}</h2>
      </div>
    </section>
  </div>
<div class="wrapper container-fluid">
  <div class="row p-5">
    <div class="about-image col-12" data-aos="fade-up">
      <img src="../../../assets/media/images/about.png" class="img-fluid d-block m-auto" />
    </div>
    <div class="about-text col-12 text-center" data-aos="fade-down">
      <h4>{{"ABOUT.TITLE"|translate}}</h4>
      <h6>{{"ABOUT.DESC"|translate}}</h6>
    </div>
  </div>
</div>
</section>
